/* import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/* Extra small devices (phones, 600px and down) */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  overflow: visible;
  display: block;
  margin: 0;
}

.container-fluid {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

.btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 15px 30px;
  background-color: #12c4a0 !important;
  border-radius: 10px;
}

.bg-dark {
  background-color: #080a3d !important;
}

.row {
  width: 100%;
  margin: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) sm */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .col-sm-1 {
    width: 8.33333% !important;
  }
  .col-sm-2 {
    width: 16.66667% !important;
  }
  .col-sm-3 {
    width: 25% !important;
  }
  .col-sm-4 {
    width: 33.33333% !important;
  }
  .col-sm-5 {
    width: 41.66667% !important;
  }
  .col-sm-6 {
    width: 50% !important;
  }
  .col-sm-7 {
    width: 58.33333% !important;
  }
  .col-sm-8 {
    width: 66.66667% !important;
  }
  .col-sm-9 {
    width: 75% !important;
  }
  .col-sm-10 {
    width: 83.33333% !important;
  }
  .col-sm-11 {
    width: 91.66667% !important;
  }
  .col-sm-12 {
    width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) md */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .col-md-1 {
    width: 8.33333% !important;
  }
  .col-md-2 {
    width: 16.66667% !important;
  }
  .col-md-3 {
    width: 25% !important;
  }
  .col-md-4 {
    width: 33.33333% !important;
  }
  .col-md-5 {
    width: 41.66667% !important;
  }
  .col-md-6 {
    width: 50% !important;
  }
  .col-md-7 {
    width: 58.33333% !important;
  }
  .col-md-8 {
    width: 66.66667% !important;
  }
  .col-md-9 {
    width: 75% !important;
  }
  .col-md-10 {
    width: 83.33333% !important;
  }
  .col-md-11 {
    width: 91.66667% !important;
  }
  .col-md-12 {
    width: 100% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) lg */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .col-lg-1 {
    width: 8.33333% !important;
  }
  .col-lg-2 {
    width: 16.66667% !important;
  }
  .col-lg-3 {
    width: 25% !important;
  }
  .col-lg-4 {
    width: 33.33333% !important;
  }
  .col-lg-5 {
    width: 41.66667% !important;
  }
  .col-lg-6 {
    width: 50% !important;
  }
  .col-lg-7 {
    width: 58.33333% !important;
  }
  .col-lg-8 {
    width: 66.66667% !important;
  }
  .col-lg-9 {
    width: 75% !important;
  }
  .col-lg-10 {
    width: 83.33333% !important;
  }
  .col-lg-11 {
    width: 91.66667% !important;
  }
  .col-lg-12 {
    width: 100% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up)  xl */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .col-xl-1 {
    width: 8.33333% !important;
  }
  .col-xl-2 {
    width: 16.66667% !important;
  }
  .col-xl-3 {
    width: 25% !important;
  }
  .col-xl-4 {
    width: 33.33333% !important;
  }
  .col-xl-5 {
    width: 41.66667% !important;
  }
  .col-xl-6 {
    width: 50% !important;
  }
  .col-xl-7 {
    width: 58.33333% !important;
  }
  .col-xl-8 {
    width: 66.66667% !important;
  }
  .col-xl-9 {
    width: 75% !important;
  }
  .col-xl-10 {
    width: 83.33333% !important;
  }
  .col-xl-11 {
    width: 91.66667% !important;
  }
  .col-xl-12 {
    width: 100% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) xxl */
@media only screen and (min-width: 1201px) {
  .col-xxl-1 {
    width: 8.33333% !important;
  }
  .col-xxl-2 {
    width: 16.66667% !important;
  }
  .col-xxl-3 {
    width: 25% !important;
  }
  .col-xxl-4 {
    width: 33.33333% !important;
  }
  .col-xxl-5 {
    width: 41.66667% !important;
  }
  .col-xxl-6 {
    width: 50% !important;
  }
  .col-xxl-7 {
    width: 58.33333% !important;
  }
  .col-xxl-8 {
    width: 66.66667% !important;
  }
  .col-xxl-9 {
    width: 75% !important;
  }
  .col-xxl-10 {
    width: 83.33333% !important;
  }
  .col-xxl-11 {
    width: 91.66667% !important;
  }
  .col-xxl-12 {
    width: 100% !important;
  }
}

/*====== Basic Css ===========*/
/*======== NabVar Design Start ============*/
.stikey {
  position: fixed;
  background-color: #4c008f;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 30px 0 !important;
  -webkit-animation: ease-in-out 4s;
          animation: ease-in-out 4s;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar {
  width: 100%;
  padding: 15px 0;
  margin-top: 1px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-color: #080a3d !important;
}

.navbar .navbar-brand {
  padding: .3125rem 0;
  margin-right: 1rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff !important;
}

.navbar .navbar-collapse .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.navbar .navbar-collapse .navbar-nav .navbar-item {
  margin: 0 10px;
}

.navbar .navbar-collapse .navbar-nav .navbar-item .navbar-link {
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff !important;
}

.navbar .navbar-collapse .navbar-nav .navbar-item:hover .navbar-link {
  color: #ffffff !important;
}

.navbar .navbar-toggler {
  display: none;
}

/*============= media min-width:992px ============*/
@media screen and (max-width: 992px) {
  .navbar-collapse {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar {
    background-color: #080a3d !important;
  }
  .navbar #navbarbutton {
    display: block;
    border: none;
    background-color: #080a3d !important;
    color: #ffffff !important;
    border-radius: 5px;
  }
  .navbar #navbarbutton i {
    font-size: 28px;
    padding: 5px;
  }
  .navbar .show {
    display: block;
  }
  .navbar .collapsing {
    position: absolute;
    right: 0;
    top: 4rem;
    background-color: #080a3d !important;
    width: 100%;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .navbar .collapsing .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .collapsing .navbar-nav .navbar-link {
    color: #ffffff !important;
    padding: 30px 0;
  }
  .navbar .collapsing .navbar-nav .navbar-item {
    margin: 15px 0;
  }
  .navbar .navbar-brand {
    color: #ffffff !important;
  }
}

/*======== NabVar Design End ============*/
/*======== Header Area Design Start ============*/
.header__area {
  background: url(../images/bg.png) top left no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header__area .header__main__content {
  padding: 100px 0;
}

.header__area .header__main__content .header__content .header_p1 {
  font-size: 24px;
  font-weight: 700;
  color: #5e5e72 !important;
  line-height: 2em;
}

.header__area .header__main__content .header__content h1 {
  font-size: 62px;
  font-weight: 800;
  color: #080a3d !important;
  line-height: 1.2em;
}

.header__area .header__main__content .header__content .text__color {
  color: #12c4a0 !important;
}

.header__area .header__main__content .header__content .header__p2 {
  font-size: 18px;
  font-weight: 500;
  color: #5e5e72 !important;
  margin: 40px 0;
  max-width: 450px;
  line-height: 1.5;
}

.header__area .header__main__content .header__content .header__btn .btn {
  color: #ffffff !important;
  background-color: #080a3d !important;
}

.header__area .header__main__content .header__img {
  width: 100%;
  height: 100%;
}

.header__area .header__main__content .header__img img {
  width: 80%;
}

/*======== Header Area Design End ============*/
/*======== Truset Client Area Design Start ============*/
.trused__client {
  background-color: #f2f7fa;
  padding: 75px 0;
}

.trused__client .client_header {
  text-align: center;
}

.trused__client .client_header .client__header_text {
  font-size: 25px;
  font-weight: 500;
  color: #5e5e72 !important;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.trused__client .main__client {
  width: 100%;
  margin: auto;
}

.trused__client .client__igm {
  width: 25%;
  padding: 0;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.trused__client .client__igm img {
  padding: 20px 10px;
  width: 120px;
}

/*======== Truset Client Area Design End ============*/
/*======== Responsive Design Start ============*/
/* Extra small devices (phones, 600px and down) sm */
@media only screen and (min-width: 220px) and (max-width: 480px) {
  /*======== Header Area Design Start ============*/
  .header__area .header__content {
    margin-bottom: 50px;
    text-align: center;
  }
  .header__area .header__content .header_p1 {
    font-size: 1.375rem !important;
  }
  .header__area .header__content h1 {
    font-size: 1.625rem !important;
  }
  .header__area .header__content .header__p2 {
    font-size: 1rem !important;
    margin: 1.25rem 0 !important;
  }
  .header__area .header__content .header__btn {
    padding-top: 0.625rem;
  }
  .header__area .header__main__content {
    padding: 3.125rem 0 !important;
  }
  /*======== Header Area Design End ============*/
  /*======== Trushed Client Area Design Start ============*/
  .trused__client {
    padding: 40px 0 !important;
  }
  .trused__client .client__igm img {
    padding: 10px !important;
  }
  .client_header .client__header_text {
    font-size: 16px !important;
    margin-bottom: 0.5rem !important;
  }
  /*======== Trushed Client Area Design End ============*/
}

/* Small devices (portrait tablets and large phones, 600px and up) md */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*======== Header Area Design Start ============*/
  .header__area .header__content h1 {
    font-size: 1.5rem !important;
  }
  .header__area .header__content .header_p1 {
    font-size: 1.0625rem !important;
  }
  .header__area .header__content .header__p2 {
    font-size: 0.75rem !important;
    margin: 1.25rem 0 !important;
  }
  .header__area .header__content .header__btn {
    padding-top: 0.625rem;
  }
  .header__area .header__content .header__btn .btn {
    font-size: 0.875rem !important;
  }
  .header__area .header__main__content {
    padding: 3.125rem 0 !important;
  }
  /*======== Header Area Design End ============*/
  /*======== Trushed Client Area Design End ============*/
  .client__igm img {
    width: 5.3125rem !important;
    padding: 20px 0 !important;
  }
  /*======== Trushed Client Area Design End ============*/
}

/* Medium devices (landscape tablets, 768px and up) lg */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /*======== Header Area Design Start ============*/
  .header__area .header__content h1 {
    font-size: 2.375rem !important;
  }
  /*======== Header Area Design End ============*/
  /*======== Trushed Client Area Design End ============*/
  .client__igm img {
    width: 7.5rem !important;
  }
  /*======== Trushed Client Area Design End ============*/
}

/* Large devices (laptops/desktops, 992px and up)  xl */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .client__igm img {
    width: 9.125rem !important;
  }
}

/*======== Responsive Design End ============*/
/*# sourceMappingURL=style.css.map */