@import "Sass/color";
@import "Sass/basic";
@import "./Sass/font";
/*====== Basic Css ===========*/ 

/*======== NabVar Design Start ============*/ 
@import "Sass/navbar";
/*======== NabVar Design End ============*/

/*======== Header Area Design Start ============*/
.header__area{
    background: url(../images/bg.png) top left no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    .header__main__content{
        padding: 100px 0;
        
        .header__content{

            .header_p1{
                @include setFont(24,700,dark-light);
                line-height: 2em;
            }
            h1{
                @include setFont(62,800,dark);
                line-height: 1.2em;
            }
            .text__color{
                @include setcolor(success);
            }
            .header__p2{
                @include setFont(18,500,dark-light);
                margin: 40px 0;
                max-width: 450px;
                line-height: 1.5;
            }
            .header__btn{
                .btn{
                    @include setcolor(light);
                    @include setbgcolor(dark);
                }
            }
        }
        .header__img{
            width: 100%;
            height: 100%;
            img{
                width: 80%;
                
            }
        }
    }
}
/*======== Header Area Design End ============*/

/*======== Truset Client Area Design Start ============*/
.trused__client{
    background-color: #f2f7fa;
    padding: 75px 0;
    .client_header{
        text-align: center;
        .client__header_text{

            @include setFont(25,500,dark-light);
            line-height: 1;
            margin-bottom: 2.5rem;
        }
    }
    .main__client {
        width: 100%;
        margin: auto;
    }

    .client__igm {
        width: 25%;
        padding: 0;
        float: left;
        box-sizing: border-box;

        img {
            padding: 20px 10px;
            width: 120px;
        }
    }
}

/*======== Truset Client Area Design End ============*/

/*======== About Area Design Start ============*/
.about__area{
    margin: 100px 0;
    .about__details{
        .about__top{
            margin-bottom: 20px;
            .btn{
                font-size: 30px;
                font-weight: 800;
                @include setcolor(light);
            }
        }
        h1{
            @include setFont(40,700,dark);
            line-height: 1.25;
        }
        p{
            @include setFont(16,400,dark-light);
            line-height: 1.25;
            text-align: left;
            margin-top: 20px;
        }
        .about_button{
            margin-top: 40px;
            .about__btn{
                transition: all 1s ease-in ;
                &:hover{
                    @include setbgcolor(dark);
                    @include setcolor(light);
                }
            }
        }
    }
    .about__img{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
/*======== About Area Design End ============*/


/*======== Responsive Design Start ============*/

/* Extra small devices (phones, 600px and down) sm */
@media only screen and (min-width:220px) and (max-width: 480px) {
    /*======== Header Area Design Start ============*/
    .header__area{
        .header__content{
            margin-bottom: 50px;
            text-align: center;
            .header_p1{
                font-size: 1.375rem !important;
               
            }
            h1{
                font-size: 1.625rem !important;
            }
            .header__p2{
                font-size: 1rem !important;
                 margin: 1.25rem 0 !important;
            }
            .header__btn{
                padding-top: 0.625rem;
            }
        }
        .header__main__content{
            padding: 3.125rem 0 !important;
        }
    }
    
    /*======== Trushed Client Area Design Start ============*/
    .trused__client {
        padding: 40px 0 !important;
        .client__igm{
            img{
                padding: 10px !important;
            }
        }
    }
    .client_header .client__header_text {
        font-size: 16px !important;
        margin-bottom: 0.5rem !important;
    }
   
    /*======== About Area Design Start ============*/
    .about__area{
        .about__details{
            h1{
                font-size: 24px;
            }
        }
        .about__img{
            margin-top: 30px;
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) md */
@media only screen and (min-width:481px) and (max-width: 768px) {
    /*======== Header Area Design Start ============*/
    .header__area {

        .header__content {

            h1 {
                font-size: 1.5rem !important;
            }

            .header_p1 {
                font-size: 1.0625rem !important;
            }

            .header__p2 {
                font-size: 0.75rem !important;
                margin: 1.25rem 0 !important;
            }

            .header__btn {
                padding-top: 0.625rem;

                .btn {
                    font-size: 0.875rem !important;
                }
            }
        }
    }

    .header__area .header__main__content {
        padding: 3.125rem 0 !important;
    }
    /*======== Header Area Design End ============*/
    /*======== Trushed Client Area Design End ============*/
    .client__igm{
        img{
              width: 5.3125rem !important;
              padding: 20px 0 !important;
        }
    }
    /*======== Trushed Client Area Design End ============*/
    /*======== About Area Design Start ============*/
    .about__area {
        .about__img {
            margin-top: 30px;
        }
    }
}
/* Medium devices (landscape tablets, 768px and up) lg */
@media only screen and (min-width:769px) and (max-width: 1024px) {
     /*======== Header Area Design Start ============*/
    .header__area{
        .header__content{
            
            h1{
                font-size: 2.375rem !important;
            }
        }
    }
     /*======== Header Area Design End ============*/
     /*======== Trushed Client Area Design End ============*/
     .client__igm{
         img{
             width: 7.5rem !important;
         }
     }
     /*======== Trushed Client Area Design End ============*/
      /*======== About Area Design Start ============*/
      .about__area {
          .about__details{
              h1{
                  font-size: 28px !important;
              }
          }
          .about__img {
              img{
                 height: 100%;
              }
          }
      }
}
/* Large devices (laptops/desktops, 992px and up)  xl */
@media only screen and (min-width:1025px) and (max-width: 1200px) {
    .client__igm{
        img{
            width: 9.125rem !important;
        }
    }
}
/*======== Responsive Design End ============*/

